In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
from vertexai.language_models import CodeChatSession
from vertexai.language_models import CodeChatModel
import vertexai
from google.cloud import bigquery
import os

In [ ]:
PROJECT_ID = 'pradeep-genai'
MODEL_NAME = 'codechat-bison'
TEMPERATURE = 0 # default value = 0
MAX_OUTPUT_TOKENS = 2048  # length of the output response | overridding the default value which is 128
# TOP_P = 0.95  # default value
# TOP_K = 40  # default value
LOCATION = 'us-central1'

In [ ]:
DATASET = 'flight_reservations'
TABLES = ['customers', 'flights', 'reservations', 'transactions', 'loyality_points']

In [ ]:
bq_client = bigquery.Client(project=PROJECT_ID)
vertexai.init(project=PROJECT_ID, location='us-central1')
model = CodeChatModel.from_pretrained(MODEL_NAME)

In [ ]:
query = f"""
    SELECT *
    FROM `{PROJECT_ID}.{DATASET}.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
    WHERE table_name in ({','.join([f'"{table}"' for table in TABLES])})
"""
print(query)

    SELECT *
    FROM `pradeep-genai.flight_reservations.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS`
    WHERE table_name in ("customers","flights","reservations","transactions","loyality_points")

In [ ]:
schema_columns = bq_client.query(query=query).to_dataframe()
schema_columns

,table_catalog,table_schema,table_name,column_name,field_path,data_type,description,collation_name,rounding_mode
0,pradeep-genai,flight_reservations,transactions,transaction_id,transaction_id,INT64,None,NULL,None
1,pradeep-genai,flight_reservations,transactions,reservation_id,reservation_id,INT64,None,NULL,None
2,pradeep-genai,flight_reservations,transactions,amount,amount,FLOAT64,None,NULL,None
3,pradeep-genai,flight_reservations,transactions,transaction_datetime,transaction_datetime,DATETIME,None,NULL,None
4,pradeep-genai,flight_reservations,reservations,reservation_id,reservation_id,INT64,None,NULL,None
5,pradeep-genai,flight_reservations,reservations,customer_id,customer_id,INT64,None,NULL,None
6,pradeep-genai,flight_reservations,reservations,flight_id,flight_id,INT64,None,NULL,None
7,pradeep-genai,flight_reservations,reservations,reservation_datetime,reservation_datetime,DATETIME,None,NULL,None
8,pradeep-genai,flight_reservations,reservations,status,status,STRING,None,NULL,None
9,pradeep-genai,flight_reservations,flights,flight_id,flight_id,INT64,None,NULL,None
10,pradeep-genai,flight_reservations,flights,origin,origin,STRING,None,NULL,None
11,pradeep-genai,flight_reservations,flights,destination,destination,STRING,None,NULL,None
12,pradeep-genai,flight_reservations,flights,departure_datetime,departure_datetime,DATETIME,None,NULL,None
13,pradeep-genai,flight_reservations,flights,arrival_datetime,arrival_datetime,DATETIME,None,NULL,None
14,pradeep-genai,flight_reservations,flights,carrier,carrier,STRING,None,NULL,None
15,pradeep-genai,flight_reservations,flights,price,price,FLOAT64,None,NULL,None
16,pradeep-genai,flight_reservations,customers,customer_id,customer_id,INT64,None,NULL,None
17,pradeep-genai,flight_reservations,customers,first_name,first_name,STRING,None,NULL,None
18,pradeep-genai,flight_reservations,customers,last_name,last_name,STRING,None,NULL,None
19,pradeep-genai,flight_reservations,customers,email,email,STRING,None,NULL,None
20,pradeep-genai,flight_reservations,customers,date_of_birth,date_of_birth,DATE,None,NULL,None
21,pradeep-genai,flight_reservations,customers,created_at,created_at,DATETIME,None,NULL,None

In [ ]:
schema_columns = schema_columns.to_markdown(index=False)
print(schema_columns)

| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

Utility function to convert text into SQL and automatically correct the SQL query if any execution errors occur.

In [ ]:
def generate_and_execute_sql(prompt, max_tries=15):
    """
    Generate an SQL query using the code_gen_model and execute it using bq_client.

    Args:
    - prompt (str): Prompt to provide to the model for generating SQL.
    - max_tries (int): Maximum number of attempts to generate and execute SQL.

    Returns:
    - dict: A dictionary containing the successful dataframe or error messages and prompt evolution.
    """

    tries = 0
    error_messages = []
    prompts = [prompt]
    df = None

    chat_session = CodeChatSession(model=model,
                                   temperature=TEMPERATURE,
                                   max_output_tokens=MAX_OUTPUT_TOKENS)

    while tries < max_tries:
        print(f'ATTEMPT: {tries+1}')
        try:
            # Predict SQL using the model
            response = chat_session.send_message(prompt)
            generated_sql_query = response.text
            generated_sql_query = '\n'.join(generated_sql_query.split('\n')[1:-1])
            print('-' * 50)
            print(generated_sql_query)
            print('-' * 50)
            # Execute SQL using BigQuery client
            df = bq_client.query(generated_sql_query).to_dataframe()
            print('SUCCEEDED')
            return {"dataframe": df, "prompts": prompts, "errors": error_messages}
        except Exception as e:
            print('FAILED')
            # Catch the error, store the message, and try again
            msg = str(e)
            error_messages.append(msg)
            # Evolve the prompt by appending the error message and asking the model to correct it
            prompt = f"""Encountered an error: {msg}.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
{generated_sql_query}

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question."""
            prompts.append(prompt)
            tries += 1
        print('=' * 100)

    return {"dataframe": df, "prompts": prompts, "errors": error_messages}

In [ ]:
seed_prompt = """
Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.\n
QUESTION:
{}\n
SCHEMA:
{}\n
IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.
"""
print(seed_prompt)

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
{}

SCHEMA:
{}

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

In [ ]:
question = "Provide a list of all reservations from October 10th to October 15th, 2023"

In [ ]:
prompt = seed_prompt.format(question, schema_columns)
print(prompt)

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Provide a list of all reservations from October 10th to October 15th, 2023

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT
  r.reservation_id AS Reservation_ID,
  r.reservation_datetime AS Reservation_DateTime,
  r.status AS Reservation_Status,
  f.flight_id AS Flight_ID,
  f.origin AS Flight_Origin,
  f.destination AS Flight_Destination,
  f.departure_datetime AS Flight_Departure_DateTime,
  f.arrival_datetime AS Flight_Arrival_DateTime,
  f.carrier AS Flight_Carrier,
  f.price AS Flight_Price,
  c.customer_id AS Customer_ID,
  c.first_name AS Customer_FirstName,
  c.last_name AS Customer_LastName,
  c.email AS Customer_Email,
  c.date_of_birth AS Customer_DateOfBirth,
  t.transaction_id AS Transaction_ID,
  t.amount AS Transaction_Amount,
  t.transaction_datetime AS Transaction_DateTime
FROM
  reservations r
JOIN
  flights f ON r.flight_id = f.flight_id
JOIN
  customers c ON r.customer_id = c.customer_id
LEFT JOIN
  transactions t ON r.reservation_id = t.reservation_id
WHERE
  DATE(r.reservation_datetime) BETWEEN DATE('2023-10-10') AND DATE('2023-10-15')
ORDER BY
  r.reservation_datetime;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT
  r.reservation_id AS Reservation_ID,
  r.reservation_datetime AS Reservation_DateTime,
  r.status AS Reservation_Status,
  f.flight_id AS Flight_ID,
  f.origin AS Flight_Origin,
  f.destination AS Flight_Destination,
  f.departure_datetime AS Flight_Departure_DateTime,
  f.arrival_datetime AS Flight_Arrival_DateTime,
  f.carrier AS Flight_Carrier,
  f.price AS Flight_Price,
  c.customer_id AS Customer_ID,
  c.first_name AS Customer_FirstName,
  c.last_name AS Customer_LastName,
  c.email AS Customer_Email,
  c.date_of_birth AS Customer_DateOfBirth,
  t.transaction_id AS Transaction_ID,
  t.amount AS Transaction_Amount,
  t.transaction_datetime AS Transaction_DateTime
FROM
  `pradeep-genai.flight_reservations.reservations` r
JOIN
  `pradeep-genai.flight_reservations.flights` f ON r.flight_id = f.flight_id
JOIN
  `pradeep-genai.flight_reservations.customers` c ON r.customer_id = c.customer_id
LEFT JOIN
  `pradeep-genai.flight_reservations.transactions` t ON r.reservation_id = t.reservation_id
WHERE
  DATE(r.reservation_datetime) BETWEEN DATE('2023-10-10') AND DATE('2023-10-15')
ORDER BY
  r.reservation_datetime;
--------------------------------------------------
SUCCEEDED
CPU times: user 86.8 ms, sys: 13.6 ms, total: 100 ms
Wall time: 8 s

,Reservation_ID,Reservation_DateTime,Reservation_Status,Flight_ID,Flight_Origin,Flight_Destination,Flight_Departure_DateTime,Flight_Arrival_DateTime,Flight_Carrier,Flight_Price,Customer_ID,Customer_FirstName,Customer_LastName,Customer_Email,Customer_DateOfBirth,Transaction_ID,Transaction_Amount,Transaction_DateTime
0,6,2023-10-10 10:00:00,Confirmed,6,SEA,JFK,2023-11-25 06:00:00,2023-11-25 14:30:00,United,550.0,6,Diana,Prince,diana.p@example.com,1988-12-01,6,550.0,2023-10-10 10:01:00
1,7,2023-10-12 11:30:00,Confirmed,7,JFK,MIA,2023-11-27 20:00:00,2023-11-27 23:30:00,American,380.0,6,Diana,Prince,diana.p@example.com,1988-12-01,7,380.0,2023-10-12 11:31:00
2,8,2023-10-15 13:20:00,Confirmed,8,MIA,JFK,2023-11-30 10:00:00,2023-11-30 13:30:00,American,380.0,8,Fiona,Shrek,fiona.s@example.com,1992-01-14,8,380.0,2023-10-15 13:21:00

In [ ]:
question = "Identify all customers who have made flight reservations within the last 7 days."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT DISTINCT c.customer_id, c.first_name, c.last_name, c.email
FROM customers c
JOIN reservations r ON c.customer_id = r.customer_id
WHERE r.reservation_datetime BETWEEN DATE_SUB(CURRENT_DATETIME(), INTERVAL 7 DAY) AND CURRENT_DATETIME();
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT DISTINCT c.customer_id, c.first_name, c.last_name, c.email
FROM flight_reservations.customers c
JOIN flight_reservations.reservations r ON c.customer_id = r.customer_id
WHERE r.reservation_datetime BETWEEN DATE_SUB(CURRENT_DATETIME(), INTERVAL 7 DAY) AND CURRENT_DATETIME();
--------------------------------------------------
SUCCEEDED
CPU times: user 57.2 ms, sys: 8.42 ms, total: 65.6 ms
Wall time: 4.75 s

Empty DataFrame
Columns: [customer_id, first_name, last_name, email]
Index: []

In [ ]:
question = "Calculate the total revenue generated from transactions in October 2023, specifically from all reservations with a Confirmed status."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT SUM(t.amount) AS total_revenue_usd
FROM transactions t
JOIN reservations r ON CAST(t.reservation_id AS STRING) = CAST(r.reservation_id AS STRING)
WHERE r.status = 'Confirmed'
  AND DATE(t.transaction_datetime) BETWEEN '2023-10-01' AND '2023-10-31';
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT SUM(t.amount) AS total_revenue_usd
FROM flight_reservations.transactions t
JOIN flight_reservations.reservations r ON CAST(t.reservation_id AS STRING) = CAST(r.reservation_id AS STRING)
WHERE r.status = 'Confirmed'
  AND DATE(t.transaction_datetime) BETWEEN '2023-10-01' AND '2023-10-31';
--------------------------------------------------
SUCCEEDED
CPU times: user 70.6 ms, sys: 7.9 ms, total: 78.5 ms
Wall time: 5.22 s

   total_revenue_usd
0             3860.0

In [ ]:
question = "Determine the departure months with the highest frequency for the year 2023."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
SELECT
  strftime('%Y-%m', f.departure_datetime) AS departure_month,
  COUNT(DISTINCT t.transaction_id) AS transaction_count
FROM flights f
JOIN reservations r ON f.flight_id = r.flight_id
JOIN transactions t ON r.reservation_id = t.reservation_id
WHERE strftime('%Y', f.departure_datetime) = '2023'
GROUP BY departure_month
ORDER BY transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
SELECT
  strftime('%Y-%m', `flight_reservations.flights.departure_datetime`) AS departure_month,
  COUNT(DISTINCT `flight_reservations.transactions.transaction_id`) AS transaction_count
FROM `flight_reservations.flights` f
JOIN `flight_reservations.reservations` r ON f.flight_id = r.flight_id
JOIN `flight_reservations.transactions` t ON r.reservation_id = t.reservation_id
WHERE strftime('%Y', `flight_reservations.flights.departure_datetime`) = '2023'
GROUP BY departure_month
ORDER BY transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 3
--------------------------------------------------
SELECT
  SUBSTR(departure_datetime, 1, 7) AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  SUBSTR(departure_datetime, 1, 4) = '2023'
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 4
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 5
--------------------------------------------------
SELECT
  strftime('%Y-%m', departure_datetime) AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 6
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 7
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 8
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 9
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 10
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 11
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 12
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 13
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 14
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 15
--------------------------------------------------
SELECT
  DATE(departure_datetime, 'start of month') AS departure_month,
  COUNT(DISTINCT transaction_id) AS transaction_count
FROM
  `flight_reservations.transactions` AS t
JOIN
  `flight_reservations.reservations` AS r
ON
  t.reservation_id = r.reservation_id
JOIN
  `flight_reservations.flights` AS f
ON
  r.flight_id = f.flight_id
WHERE
  CAST(departure_datetime AS DATE) BETWEEN DATE('2023-01-01') AND DATE('2023-12-31')
GROUP BY
  departure_month
ORDER BY
  transaction_count DESC;
--------------------------------------------------
FAILED
====================================================================================================
CPU times: user 308 ms, sys: 43.4 ms, total: 351 ms
Wall time: 30.5 s

In [ ]:
question = "Group customers into five distinct age brackets and count the number of customers in each bracket."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(c.customer_id) AS customer_count
FROM
  customers c
GROUP BY
  age_bracket;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(flight_reservations.customers.customer_id) AS customer_count
FROM
  flight_reservations.customers
GROUP BY
  age_bracket;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 3
--------------------------------------------------
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(c.customer_id) AS customer_count
FROM
  `pradeep-genai.flight_reservations.customers` c
GROUP BY
  age_bracket;
--------------------------------------------------
SUCCEEDED
CPU times: user 103 ms, sys: 11.2 ms, total: 115 ms
Wall time: 8.29 s

   age_bracket  customer_count
0  30-39 years               6
1  40-49 years               5
2  20-29 years               3
3    50+ years               6

### Scenario 6: Age Calculation
Calculate the age of customers based on their date of birth and filter those who are above X years old.

In [ ]:
question = "Identify and rank all customers aged 18+ who have `Confirmed` reservations for the current month, ordered by their age. Make sure to display their ages in the result."

In [ ]:
prompt = seed_prompt.format(question, schema_columns)

In [ ]:
%%time

response = generate_and_execute_sql(prompt=prompt)
sql_output = response['dataframe']
sql_output

ATTEMPT: 1
--------------------------------------------------
WITH current_month AS (
  SELECT DATE_TRUNC(CURRENT_DATE(), MONTH) AS start_date,
         DATE_ADD(DATE_TRUNC(CURRENT_DATE(), MONTH), INTERVAL 1 MONTH) AS end_date
)

SELECT c.customer_id,
       c.first_name,
       c.last_name,
       DATEDIFF(CURRENT_DATE(), c.date_of_birth) AS age,
       r.reservation_id,
       r.status
FROM current_month AS cm
JOIN flight_reservations.reservations AS r
ON r.reservation_datetime BETWEEN cm.start_date AND cm.end_date
JOIN flight_reservations.customers AS c
ON c.customer_id = r.customer_id
WHERE c.date_of_birth < DATE_SUB(CURRENT_DATE(), INTERVAL 18 YEAR)
AND r.status = 'Confirmed'
ORDER BY age DESC;
--------------------------------------------------
FAILED
====================================================================================================
ATTEMPT: 2
--------------------------------------------------
WITH current_month AS (
  SELECT DATE_TRUNC(CURRENT_DATE(), MONTH) AS start_date,
         DATE_ADD(DATE_TRUNC(CURRENT_DATE(), MONTH), INTERVAL 1 MONTH) AS end_date
)

SELECT c.customer_id,
       c.first_name,
       c.last_name,
       DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) AS age,
       r.reservation_id,
       r.status
FROM current_month AS cm
JOIN flight_reservations.reservations AS r
ON r.reservation_datetime BETWEEN cm.start_date AND cm.end_date
JOIN flight_reservations.customers AS c
ON c.customer_id = r.customer_id
WHERE c.date_of_birth < DATE_SUB(CURRENT_DATE(), INTERVAL 18 YEAR)
AND r.status = 'Confirmed'
ORDER BY age DESC;
--------------------------------------------------
SUCCEEDED

CPU times: user 79.1 ms, sys: 18.9 ms, total: 98 ms
Wall time: 11.1 s

   customer_id first_name last_name  age  reservation_id     status
0           17     Olivia    Newton   75              17  Confirmed
1           16       Nick      Fury   58              16  Confirmed
2           13       Kate   Winslet   48              14  Confirmed
3           20       Ryan  Reynolds   47              20  Confirmed
4           15       Mary      Jane   30              15  Confirmed
5           18      Peter    Parker   22              18  Confirmed

Inspect the evolution of the seed prompt and how SQL query was fixed automatically by the LLM.

In [ ]:
for i, prompt in enumerate(response['prompts']):
    print(f'==================== ATTEMPT {i+1} ====================')
    print(prompt)

==================== ATTEMPT 1 ====================

Please craft a SQL query for BigQuery that addresses the following QUESTION provided below.
Ensure you reference the appropriate BigQuery tables and column names provided in the SCHEMA below.
When joining tables, employ type coercion to guarantee data type consistency for the join columns.
Additionally, the output column names should specify units where applicable.

QUESTION:
Group customers into five distinct age brackets and count the number of customers in each bracket.

SCHEMA:
| table_catalog   | table_schema        | table_name   | column_name          | field_path           | data_type   | description   | collation_name   | rounding_mode   |
|:----------------|:--------------------|:-------------|:---------------------|:---------------------|:------------|:--------------|:-----------------|:----------------|
| pradeep-genai   | flight_reservations | transactions | transaction_id       | transaction_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | amount               | amount               | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | transactions | transaction_datetime | transaction_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_id       | reservation_id       | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | reservation_datetime | reservation_datetime | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | reservations | status               | status               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | flight_id            | flight_id            | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | origin               | origin               | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | destination          | destination          | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | departure_datetime   | departure_datetime   | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | arrival_datetime     | arrival_datetime     | DATETIME    |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | carrier              | carrier              | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | flights      | price                | price                | FLOAT64     |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | customer_id          | customer_id          | INT64       |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | first_name           | first_name           | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | last_name            | last_name            | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | email                | email                | STRING      |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | date_of_birth        | date_of_birth        | DATE        |               | NULL             |                 |
| pradeep-genai   | flight_reservations | customers    | created_at           | created_at           | DATETIME    |               | NULL             |                 |

IMPORTANT:
Use ONLY DATETIME and DO NOT use TIMESTAMP.
--
Ensure your SQL query accurately defines both the start and end of the DATETIME range.

==================== ATTEMPT 2 ====================
Encountered an error: 400 Table "customers" must be qualified with a dataset (e.g. dataset.table).; reason: invalid, location: customers, message: Table "customers" must be qualified with a dataset (e.g. dataset.table).

Location: US
Job ID: 33ecbb4a-0a4b-46f2-b54d-77f48cb0c425
.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), c.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(c.customer_id) AS customer_count
FROM
  customers c
GROUP BY
  age_bracket;

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question.
==================== ATTEMPT 3 ====================
Encountered an error: 400 Unrecognized name: flight_reservations at [4:36]; reason: invalidQuery, location: query, message: Unrecognized name: flight_reservations at [4:36]

Location: US
Job ID: cbc99b7b-d8b5-47f0-8e25-de4af6ab00c2
.
To address this, please generate an alternative SQL query response that avoids this specific error.
Follow the instructions mentioned above to remediate the error.

Modify the below SQL query to resolve the issue:
-- Calculate customer age brackets and count customers within each bracket
SELECT
  CASE
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) < 20 THEN '0-19 years'
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) BETWEEN 20 AND 29 THEN '20-29 years'
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) BETWEEN 30 AND 39 THEN '30-39 years'
    WHEN DATE_DIFF(CURRENT_DATE(), flight_reservations.customers.date_of_birth, YEAR) BETWEEN 40 AND 49 THEN '40-49 years'
    ELSE '50+ years'
  END AS age_bracket,
  COUNT(flight_reservations.customers.customer_id) AS customer_count
FROM
  flight_reservations.customers
GROUP BY
  age_bracket;

Ensure the revised SQL query aligns precisely with the requirements outlined in the initial question.